$black: #050505;

$gray: #EBEBEB;
$gray10: #FAFAFA;
$gray30: #EBEBEB;
$gray40: #BDC0C7;
$gray50: #898D97;
$gray60: #656A76;
$gray70: #4B4F59;
$gray100: #141517;

$coolGray10: #FAFAFA;
$coolGray20: #F3F3F3;
$coolGray30: #EBEBEB;
$coolGray40: #DCDEE3;
$coolGray50: #BEC1C8;
$coolGray60: #9B9FA8;
$coolGray70: #71747D;
$coolGray80: #515359;
$coolGray90: #363A40;
$coolGray100: #222427;

$geekble: #4AF6B8;
$geekble10: #45C2B1;

$red10: #FDEBEB;
$red50: #F25F5F;

$blue10: #E6F3FF;
$blue60: #0883FF;

$green60: #19C76B;
